parameters:
	checkMissingIterableValueType: false
	ignoreErrors:
	    - '#Function sleep is unsafe to use.#'
	    - '#Do not throw the \\Exception base class. Instead, extend the \\Exception base class.#'
	ergebnis:
		classesAllowedToBeExtended:
			- Exception
includes:
	- ../../vendor/wyrihaximus/async-test-utilities/rules.neon