parameters:
	paths:
		- ../../etc
		- ../../src
		- ../../tests
	level: max
	ignoreErrors:
		-
			message: '#Control structures using switch should not be used.#'
			path: ../../src/EventLoopBridge.php
		-
			message: '#Language construct isset\(\) should not be used.#'
			path: ../../src/EventLoopBridge.php
		-   # By design
			identifier: shipmonk.checkedExceptionInYieldingMethod
			path: ../../src/EventLoopBridge.php
		-
			message: '#Property ReactParallel\\EventLoop\\Stream<T>::\$wait \(React\\Promise\\Deferred<ReactParallel\\EventLoop\\Done\|ReactParallel\\EventLoop\\Value>\) does not accept React\\Promise\\Deferred<mixed>.#'
			path: ../../src/Stream.php
		-   # https://github.com/shipmonk-rnd/dead-code-detector?tab=readme-ov-file#interface-methods
			identifier: shipmonk.deadMethod
			path: ../../src/StreamInterface.php
		-   # This is by design
			identifier: shipmonk.checkedExceptionInYieldingMethod
			path: ../../src/Stream.php
		-
			message: '#usleep blocks the event loop, use React\\Promise\\Timer\\sleep#'
			path: ../../tests/EventLoopBridgeTest.php
		-
			message: '#sleep blocks the event loop, use React\\Promise\\Timer\\sleep#'
			path: ../../tests/EventLoopBridgeTest.php
		-
			identifier: shipmonk.checkedExceptionInCallable
			path: ../../tests/EventLoopBridgeTest.php
		-
			message: '#sleep blocks the event loop, use React\\Promise\\Timer\\sleep#'
			path: ../../tests/Types.php
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- Exception
				- ReactParallel\EventLoop\CancelledException
				- ReactParallel\EventLoop\CanceledFuture
				- ReactParallel\EventLoop\KilledRuntime
